In [2]:
l=[1,2,3,4,5,"sudh","kumar",56.23]

In [9]:
for a in l:
    print(a)

1
2
3
4
5
sudh
kumar
56.23

In [11]:
for i in l:
    pass

In [24]:
n="nagendra"
for i in n:
    print(i)

n
a
g
e
n
d
r
a

In [27]:
for i in l:
    print(i)
else:
    print("if for loop going to complete itself then it will excute else")

1
2
3
4
5
sudh
kumar
56.23
if for loop going to complete itself then it will excute else

In [28]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will excute only if for is going to complete itself")

1
2
3

In [368]:
n="nagendra"
for i in n:
    if i=='d':
        break
    print(i)
else:
    print("print string",n)

n
a
g
e
n

In [31]:
t=(4,5,6,7,8,"sudh")
for i in t:
    print(i)

4
5
6
7
8
sudh

In [36]:
b={4,5,6,7,7,8,'sudh'}

In [37]:
type(b)

set

In [38]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [39]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [40]:
d={'key1':"sudh","contact":"sudhanshu@ineuron.ai","posotion":'xyz'}

In [41]:
for i in d:
    print(i)

key1
contact
posotion

In [42]:
d["key1"]

'sudh'

In [45]:
for i in d:
    print(i,":",d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
posotion : xyz

In [46]:
range(9)

range(0, 9)

In [47]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [50]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [52]:
list(range(0,9,3))

[0, 3, 6]

In [54]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [190]:
n=5
for i in range(5):
    for j in range(1,i+1):
        print("sudh",end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [93]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [94]:
t=(3,23,45,67,2,4,5,6)

In [98]:
t=(3,23,45,67,2,4,5,6)
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [102]:
for i in t:
    print(i)

3
23
45
67
2
4
5
6

In [111]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [109]:
t.index(45)

2

In [115]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [116]:
s="ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [119]:
s="ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [120]:
s

'ineuron'

In [129]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [130]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'posotion': 'xyz'}

In [135]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('posotion', 'xyz') <class 'tuple'> <class 'str'>

In [139]:
l=["sudh","kumar",325478,"sudhanshu@ineuron.ai",3569,254756]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [141]:
l1

[325478, 3569, 254756]

In [148]:
d={1:859562,"name":"sudh","email":"sudhanshu@ineuron.ai",234:"hsjdgeg","45":"gshgs",234:"56871"}

In [149]:
d

{1: 859562,
 'name': 'sudh',
 'email': 'sudhanshu@ineuron.ai',
 234: '56871',
 '45': 'gshgs'}

In [150]:
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 859562
234 : 56871

In [158]:
s="aaaabbccdd"

In [160]:
for i in set(s):
    print(i,":",s.count(i))

d : 2
b : 2
c : 2
a : 4

In [161]:
set(s)

{'a', 'b', 'c', 'd'}

In [162]:
list(s)

['a', 'a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']

In [163]:
tuple(s)

('a', 'a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd')

In [164]:
set(s)

{'a', 'b', 'c', 'd'}

In [170]:
for i in set(s):
    print(i,":",s.count(i))

d : 2
b : 2
c : 2
a : 4

In [176]:
i=435667787788
for j in str(i):
    print(int(j),type(int(j)))

4 <class 'int'>
3 <class 'int'>
5 <class 'int'>
6 <class 'int'>
6 <class 'int'>
7 <class 'int'>
7 <class 'int'>
8 <class 'int'>
7 <class 'int'>
7 <class 'int'>
8 <class 'int'>
8 <class 'int'>

In [174]:
str(i)

'435667787788'

In [175]:
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [187]:
t=("sudh","kumar",[1,2,3,4,6],(3,4,5,6),{"key1":"sudh","key2":"kumar",3:3})
for i in t:
    if type (i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
    
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [193]:
for i in range(5):
    for j in range(1,i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [293]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("ineuron"),end="")
    for j in range(i,i+1):
        print("ineuron","     ",end="")
    for j in range(i):
        print("ineuron",end="     ")
    print()

              ineuron
       ineuron      ineuron
ineuron      ineuron     ineuron

In [302]:
b=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"kumar",3:6,7:8},["ineuron","data science"]]

In [303]:
b

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [312]:
for i in b:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [313]:
for i in b:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [317]:
for i in b:
    if type(i)==set:
        print(i)

{45, 4, 5, 23}

In [318]:
for i in b:
    if type(i)==dict:
        print(i)

{'k1': 'kumar', 3: 6, 7: 8}

In [319]:
b

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [492]:
b=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"kumar",3:6,7:8},["ineuron","data science"]]

In [493]:
b

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [510]:
for i in b:
    if type["i"]==int:
        print["i"]

In [515]:
a=[1,3,4,5,6,7,8]

In [516]:
a

[1, 3, 4, 5, 6, 7, 8]

In [517]:
for i in a:
    if type(i)==int:
        print(i)

1
3
4
5
6
7
8

In [518]:
sum(a)

34